<tr data-task-target="taskRow" id="<%= dom_id(task) %>">
  <td class="px-6 py-4 whitespace-normal break-words text-sm font-medium text-gray-900" data-task-target="title"><%= task.title %></td>
  <td class="px-6 py-4 whitespace-normal break-words text-sm text-gray-500" data-task-target="description"><%= task.description %></td>
  <td class="px-6 py-4 whitespace-nowrap break-words text-sm text-gray-500" data-task-target="status"><%= task.status %></td>
  <td class="px-6 py-4 whitespace-nowrap break-words text-sm font-medium">
    <%= link_to "Edit", edit_task_path(task), class: "text-blue-600 hover:text-blue-900", data: { turbo_stream: true, action: :edit } %>
    <% if task.status == "Completed" %>
      <%= button_to "Delete", task_path(task), method: :delete, class: "text-red-600 hover:text-red-900", data: { turbo_confirm: "Are you sure?" }, form_class: "inline" %>
    <% end %>
  </td>
</tr>
